/*
font-family: 'Vidaloka', serif;
font-family: 'Pavanam', sans-serif;
*/

body {
    font-family: 'Pavanam', sans-serif;
}

.social-icon {
    font-size: 2em;
    padding: 0.5em;
}

.google-scholar {
    width:130px; 
    float:right; 
    margin-right: 20px;
}

.social-icon {
    margin: 5px;
}

.multiple-shadows {
    box-shadow: 
        0 20px 30px -15px rgba(0,0,0,0.5),
        0 40px 40px -20px rgba(0,0,0,0.4),
        0 70px 50px -30px rgba(0,0,0,0.3),
        0 40px 60px -5px rgba(203,14,40,0.3);
}

.book-cover {
    height: 18em;
    margin-top: 1em;
    margin-left: 0em;
}

.book-title {
    color: white;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.book-title:hover {
    color: rgb(172, 224, 255);
}

.parallelogram {
    width: 85%;
    height: 90%;
    margin-left: 0.7em;
    z-index: -1;
    position: absolute;
    transform: skew(7deg);
}

.rectangle {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: skew(0deg);
}

.white-color {
    background: white;
}

.ns-colors {
    background: linear-gradient(90deg, rgba(71, 114, 255, 0.808) 0%, rgb(39, 31, 161) 50%); 
}

.tf-colors {
    background: linear-gradient(90deg, rgb(255, 111, 0) 0%, rgb(255,168,0) 50%); 
}

.hs-colors {
    background: linear-gradient(90deg, rgb(99, 99, 99) 0%, rgb(66,66,66) 50%); 
}

div.math {
    margin: auto;
    width: 50%;
    padding: 1em;
}